@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  /* Primary Colors */
  --primary-light: #faf5ed;
  --primary-light-hover: #f7f0e4;
  --primary-light-active: #efe1c7;
   --primary: #cb9e4b;
  --primary-hover: #b78e44;
  --primary-active: #a27e3c;
  --primary-dark: #987738;
  --primary-dark-hover: #7a5f2d;
  --primary-dark-active: #5b4722;
  --primary-darker: #47371a;

  /* Secondary Colors */
  --secondary-light: #e6e7e8;
  --secondary-light-hover: #dadbdc;
  --secondary-light-active: #b3b5b7;
  --secondary: #091018;
  --secondary-hover: #080e16;
  --secondary-active: #070d13;
  --secondary-dark: #070c12;
  --secondary-dark-hover: #050a0e;
  --secondary-dark-active: #04070b;
  --secondary-darker: #030608;

  /* Tertiary Colors */
  --tertiary-light: #ffffff;
  --tertiary-light-hover: #ffffff;
  --tertiary-light-active: #ffffff;
  --tertiary: #ffffff;
  --tertiary-hover: #e6e6e6;
  --tertiary-active: #cccccc;
  --tertiary-dark: #bfbfbf;
  --tertiary-dark-hover: #999999;
  --tertiary-dark-active: #737373;
  --tertiary-darker: #595959;

  /* Gray Colors */
  --gray-light: #363636;
  --gray-dark: #888888;
  --gray-border: #d6d6d6;
  --gray-border-light: #d9d9d9;

  /* Background & Foreground */

  --radius: 0.625rem;

  --background: oklch(1 0 0);

  --foreground: oklch(0.145 0 0);

  --card: oklch(1 0 0);

  --card-foreground: oklch(0.145 0 0);

  --popover: oklch(1 0 0);

  --popover-foreground: oklch(0.145 0 0);

  --primary-foreground: oklch(0.985 0 0);

  --secondary-foreground: oklch(0.205 0 0);

  --muted: oklch(0.97 0 0);

  --muted-foreground: oklch(0.556 0 0);

  --accent: oklch(0.97 0 0);

  --accent-foreground: oklch(0.205 0 0);

  --destructive: oklch(0.577 0.245 27.325);

  --border: oklch(0.922 0 0);

  --input: oklch(0.922 0 0);

  --ring: oklch(0.708 0 0);

  --chart-1: oklch(0.646 0.222 41.116);

  --chart-2: oklch(0.6 0.118 184.704);

  --chart-3: oklch(0.398 0.07 227.392);

  --chart-4: oklch(0.828 0.189 84.429);

  --chart-5: oklch(0.769 0.188 70.08);

  --sidebar: #091018;

  --sidebar-foreground: #888888;

  --sidebar-primary: oklch(0.205 0 0);

  --sidebar-primary-foreground: oklch(0.985 0 0);

  --sidebar-accent: oklch(0.97 0 0);

  --sidebar-accent-foreground: oklch(0.205 0 0);

  --sidebar-border: oklch(0.922 0 0);

  --sidebar-ring: oklch(0.708 0 0);
}

@theme inline {
  /* Background & Foreground */
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* Primary Colors */
  --color-primary-light: var(--primary-light);
  --color-primary-light-hover: var(--primary-light-hover);
  --color-primary-light-active: var(--primary-light-active);
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-primary-active: var(--primary-active);
  --color-primary-dark: var(--primary-dark);
  --color-primary-dark-hover: var(--primary-dark-hover);
  --color-primary-dark-active: var(--primary-dark-active);
  --color-primary-darker: var(--primary-darker);

  /* Secondary Colors */
  --color-secondary-light: var(--secondary-light);
  --color-secondary-light-hover: var(--secondary-light-hover);
  --color-secondary-light-active: var(--secondary-light-active);
  --color-secondary: var(--secondary);
  --color-secondary-hover: var(--secondary-hover);
  --color-secondary-active: var(--secondary-active);
  --color-secondary-dark: var(--secondary-dark);
  --color-secondary-dark-hover: var(--secondary-dark-hover);
  --color-secondary-dark-active: var(--secondary-dark-active);
  --color-secondary-darker: var(--secondary-darker);

  /* Tertiary Colors */
  --color-tertiary-light: var(--tertiary-light);
  --color-tertiary-light-hover: var(--tertiary-light-hover);
  --color-tertiary-light-active: var(--tertiary-light-active);
  --color-tertiary: var(--tertiary);
  --color-tertiary-hover: var(--tertiary-hover);
  --color-tertiary-active: var(--tertiary-active);
  --color-tertiary-dark: var(--tertiary-dark);
  --color-tertiary-dark-hover: var(--tertiary-dark-hover);
  --color-tertiary-dark-active: var(--tertiary-dark-active);
  --color-tertiary-darker: var(--tertiary-darker);

  /* Gray Colors */
  --color-gray-light: var(--gray-light);
  --color-gray-dark: var(--gray-dark);
  --color-gray-border: var(--gray-border);
  --color-gray-border-light: var(--gray-border-light);

  /* Fonts */
  --font-outfit: var(--font-outfit);
  --font-redressed: var(--font-redressed);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-primary-foreground: var(--primary-foreground);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}
@keyframes gradient {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}
.animate-gradient {
  animation: gradient 3s ease infinite;
}

.bg {
  background: url(/assets/images/bg-image.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bg-signup{
   background: url(/assets/svgs/bg-pattern.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
