@import "tailwindcss";

:root {
 /* Primary Colors */
  --primary-light: #faf5ed;
  --primary-light-hover: #f7f0e4;
  --primary-light-active: #efe1c7;
  --primary: #cb9e4b;
  --primary-hover: #b78e44;
  --primary-active: #a27e3c;
  --primary-dark: #987738;
  --primary-dark-hover: #7a5f2d;
  --primary-dark-active: #5b4722;
  --primary-darker: #47371a;

  /* Secondary Colors */
  --secondary-light: #e6e7e8;
  --secondary-light-hover: #dadbdc;
  --secondary-light-active: #b3b5b7;
  --secondary: #091018;
  --secondary-hover: #080e16;
  --secondary-active: #070d13;
  --secondary-dark: #070c12;
  --secondary-dark-hover: #050a0e;
  --secondary-dark-active: #04070b;
  --secondary-darker: #030608;

  /* Tertiary Colors */
  --tertiary-light: #ffffff;
  --tertiary-light-hover: #ffffff;
  --tertiary-light-active: #ffffff;
  --tertiary: #ffffff;
  --tertiary-hover: #e6e6e6;
  --tertiary-active: #cccccc;
  --tertiary-dark: #bfbfbf;
  --tertiary-dark-hover: #999999;
  --tertiary-dark-active: #737373;
  --tertiary-darker: #595959;

  /* Gray Colors */
  --gray-light: #363636;
  --gray-dark: #888888;
  --gray-border: #d6d6d6;
  --gray-border-light: #d9d9d9;

  /* Background & Foreground */
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
 /* Background & Foreground */
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* Primary Colors */
  --color-primary-light: var(--primary-light);
  --color-primary-light-hover: var(--primary-light-hover);
  --color-primary-light-active: var(--primary-light-active);
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-primary-active: var(--primary-active);
  --color-primary-dark: var(--primary-dark);
  --color-primary-dark-hover: var(--primary-dark-hover);
  --color-primary-dark-active: var(--primary-dark-active);
  --color-primary-darker: var(--primary-darker);

  /* Secondary Colors */
  --color-secondary-light: var(--secondary-light);
  --color-secondary-light-hover: var(--secondary-light-hover);
  --color-secondary-light-active: var(--secondary-light-active);
  --color-secondary: var(--secondary);
  --color-secondary-hover: var(--secondary-hover);
  --color-secondary-active: var(--secondary-active);
  --color-secondary-dark: var(--secondary-dark);
  --color-secondary-dark-hover: var(--secondary-dark-hover);
  --color-secondary-dark-active: var(--secondary-dark-active);
  --color-secondary-darker: var(--secondary-darker);

  /* Tertiary Colors */
  --color-tertiary-light: var(--tertiary-light);
  --color-tertiary-light-hover: var(--tertiary-light-hover);
  --color-tertiary-light-active: var(--tertiary-light-active);
  --color-tertiary: var(--tertiary);
  --color-tertiary-hover: var(--tertiary-hover);
  --color-tertiary-active: var(--tertiary-active);
  --color-tertiary-dark: var(--tertiary-dark);
  --color-tertiary-dark-hover: var(--tertiary-dark-hover);
  --color-tertiary-dark-active: var(--tertiary-dark-active);
  --color-tertiary-darker: var(--tertiary-darker);

  /* Gray Colors */
  --color-gray-light: var(--gray-light);
  --color-gray-dark: var(--gray-dark);
  --color-gray-border: var(--gray-border);
  --color-gray-border-light: var(--gray-border-light);

  /* Fonts */
  --font-outfit: "Outfit_400Regular", sans-serif;
  --font-redressed: "Redressed_400Regular", serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
